#image {
    height: 500px; /* Ajusta el tamaño de la imagen según sea necesario */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsión */
  }
  
  .carousel-item {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Suaviza la transición entre las diapositivas */
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente para mejorar la visibilidad del texto */
    padding: 20px;
    border-radius: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 1.5em;
    color: #fff; /* Texto en blanco para contrastar con el fondo */
  }
  
  .carousel-caption p {
    font-size: 1.2em;
    color: #ddd; /* Texto más claro para el subtítulo */
  }
  