
.EditProjectForm_modal {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente del modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .EditProjectForm {
    background-color: white; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .EditProjectForm_label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .EditProjectForm_input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .EditProjectForm_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .EditProjectForm_button:hover {
    background-color: #45a049;
  }
  