.user-profile-container {
  display: flex;
  padding: 30px;
  background-color: #FAFAFA;;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  flex-direction: column;
  align-items: center;
}

.user-profile-title {
  font-size: 28px;
  font-weight: bold;
  color: #202124;
  margin-bottom: 25px;
}

.profile-section {
  border: #dadce0 solid 1px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
}

.section-title {
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0;
  font-weight: 400;
  color: #202124;
  margin-bottom: 12px;
}


.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-description {
  font-size: 16px;
  color: #5f6368;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #dadce0;
}

.divider {
  border: none;
  border-top: 1px solid #dadce000;
  margin: 20px 0;
}

.photo-item{
  display: flex;
  justify-content: center;
  padding: 12px 0;
  font-size: 18px;
  align-items: center;
  flex-direction: column;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 18px;
  align-items: center;
}

.info-label {
  color: #5f6368;
  font-weight: bold;
}

.info-value {
  color: #202124;
}

.conector-userPerfil {
  margin-left: 5%;
  background-color: #fff !important;
}
