.project_information_container{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
}

.description_div_project_info{
    width: 80%;
    display: flex;
    flex-direction: column;
    border: #dadce0 solid 1px;
    padding: 14px;
    font-size: 18px;
    border-radius: 20px;
}

.container_fechas_description_project_info{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
}

.div_container_project_info_fechas{
    display: flex;
    justify-content: end;
    gap: 3%;
    width: 25%;
}

.fechas_project_info{
    color: #0c3958;
    border: solid 2px #0c3958;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr_project_info{
    border: none;
    border-top: 1px solid #dadce000;
    margin: 10px 0;
}

.div_container_project_info_responsables{
    border: #dadce0 solid 1px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
}

.divs_responsables_project_info{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;
    align-items: center;
}

.div_costos_project_info{
    width: 100%;
}